<!DOCTYPE HTML>
<html>
    <head>
    <title>[Rootify] About</title>
        <link rel="stylesheet" type="text/css" href="/css/about.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"> 
    </head>
	<body>
        <center>
            <div id="header">
                <ul>
                    <li id="second">
                        <a href="/help">Help</a>
                    </li>
                    <li id="first">
                        <a href="/index.html">Login</a>
                    </li>
                </ul>
            </div>
        </center>
        <center>
            <center>
                <img class="logo" src="/assets/rootify.png">
                <h1>What is Rootify?</h1>
                
                <div style="width: 700px;">
                    <p style="text-align: left;">Rootify is a web application that visualizes your taste in music and allows you to discover new artists and tracks based on your Spotify listening history.</p>
                </div>
            </center>
            
            <div id="div"> 
                <div class="line-div"></div>
                <h1>Developers</h1>

                    <text style="color:#7B7B7B;"> Developed for: CMPS 115 - UC Santa Cruz - Fall 2017<br/></style>
                        <p>
                <div id="authors">
                <div class="card">
                    <h2>Tristan Iverson</h2>
                    <p class="title"> Founder, Developer </p>
                    <p> University of California, Santa Cruz </p>
                    <div class="floattoright">
                        <a target="_blank" href="https://github.com/tilevi"><i class="fa fa-github fa-3x"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/tristaniverson/"><i class="fa fa-linkedin fa-3x"></i></a>
                    </div>
                </div>
                
                <div class="card">
                    <h2>Kristine Nguyen</h2>
                    <p class="title"> Designer, Developer </p>
                    <p> University of California, Santa Cruz </p>
                    <div class="floattoright">
                        <a target="_blank" href="https://github.com/knguyen9095"><i class="fa fa-github fa-3x"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/knguyen9095/"><i class="fa fa-linkedin fa-3x"></i></a>
                    </div>
                </div>
                
                <div class="card">
                    <h2>Jonathan Ortiz</h2>
                    <p class="title"> Developer </p>
                    <p> University of California, Santa Cruz </p>
                    <div class="floattoright">
                        <a target="_blank" href="https://github.com/jolortiz"><i class="fa fa-github fa-3x"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/jonathan-ortiz-1254b4144/"><i class="fa fa-linkedin fa-3x"></i></a>
                    </div>
                </div> 
                  
                <div class="card">
                    <h2>Chloe Jiang</h2>
                    <p class="title"> Developer </p>
                    <p> University of California, Santa Cruz </p>
                    <div class="floattoright">
                        <a target="_blank" href="https://github.com/kuroiiie"><i class="fa fa-github fa-3x"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/chloe-florence-jiang/"><i class="fa fa-linkedin fa-3x"></i></a>
                    </div>
                </div>

                <div class="card">
                    <h2>Brian Tran</h2>
                    <p class="title"> Developer </p>
                    <p> University of California, Santa Cruz</p>
                    <div class="floattoright">
                        <a target="_blank" href="https://github.com/fruitpenninja"><i class="fa fa-github fa-3x"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/in/brian-tran-baab12132"><i class="fa fa-linkedin fa-3x"></i></a>
                    </div>  
                </div>
                
                <div class="line-div"></div>
                <div style="margin-top: 50px;">
                    <button class="accordion">Code References</button>
                    <div class="panel">
                    <p>
                        <a href="https://developer.spotify.com/web-api/">Spotify Web API</a>
                    </p>
                    <div class="line-div"></div>
                    <p>
                        <a href="https://github.com/JMPerez/spotify-web-api-js">"spotify-web-api-js (A client-side JS wrapper for the Spotify Web API)" by JMPerez and others</a>
                    </p> <div class="line-div"></div>
                    <p>
                        <a href="https://github.com/spotify/web-api-auth-examples">"spotify/web-api-auth-examples (Basic examples to authenticate and fetch data using the Spotify Web API)" GitHub Repository by JMPerez</a>
                    </p> <div class="line-div"></div>
                    <p>
                        <a href="https://stackoverflow.com/questions/19035373/how-do-i-redirect-in-expressjs-while-passing-some-context">"How do I redirect in expressjs while passing some context?" Solution by Dropped.on.Caprica and Aaron Harun</a>
                    </p> <div class="line-div"></div>
                    <p>
                        <a href="https://stackoverflow.com/questions/39219638/how-to-access-parameters-in-ejs-page">"How to access parameters in .ejs page" Solution by CodeBean</a>
                    </p> <div class="line-div"></div>
                    <p>
                         <a href="http://bl.ocks.org/robschmuecker/7926762">"Drag and drop, collapsible d3.js Tree with 50,000 nodes" by Rob Schmuecker</a>
                    </p> <div class="line-div"></div>
                    <p>
                        <a href="https://stackoverflow.com/questions/25881186/d3-fill-shape-with-image-using-pattern">"D3 fill shape with image using pattern" Solution by AmeliaBR</a>
                    </p> <div class="line-div"></div>
                    <p>
                        <a href="https://stackoverflow.com/questions/18554224/getting-screen-positions-of-d3-nodes-after-transform/18561829">"Getting Screen Positions of D3 Nodes After Transform" Solution by t.888</a>
                    </p> <div class="line-div"></div>
                    <p>
                        <a href="https://bl.ocks.org/curran/3a68b0c81991e2e94b19">"Responding to Resize" by Curran Kelleher</a>
                    </p> <div class="line-div"></div>
                    <p>
                        <a href="https://bl.ocks.org/ericsoco/647db6ebadd4f4756cae">"Wrapping Long Labels 2.0" by Eric Socolofsky and Mike Bostock</a>
                    </p> <div class="line-div"></div>
                    <p>
                        <a href="https://stackoverflow.com/questions/15975440/add-ellipses-to-overflowing-text-in-svg">"Add ellipses to overflowing text in SVG?" Solution by user2846569</a>
                    </p> <div class="line-div"></div>
                    <p>
                        <a href="https://select2.org/">Select2 library</a> 
                    </p> <div class="line-div"></div>
                    <p>
                        <a href="https://harvesthq.github.io/chosen/">Chosen library</a>
                    </p>    <div class="line-div"></div> 
                    <p>
                        <a href="https://www.spotify.com">Origin unknown person avatar by Spotify</a>
                    </p> <div class="line-div"></div>
                    <p>  
                        <a href="https://www.iconfinder.com/icons/299045/error_sign_icon#size=128">Error image by Paomedia</a>
                    </p> <div class="line-div"></div>
                    <p>  
                        <a href="https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793">Responsive, Pure CSS Off-Canvas Hamburger Menu by Mark Caron</a>
                    </p>
                </div>
                </div>
            </div>
        </center>
              <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].onclick = function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          }
        }
</script>
	</body>
</html>