<!DOCTYPE HTML>
<html>
    <head>
        <title>Rootify</title>
        <link rel="stylesheet" type="text/css" href="/css/about.css">
    </head>
    
	<body>
		<center>
            <div id="div">
<!--                The images serve as placeholders.-->
<!--
                <img src="/assets/rootify.png">
                <h1>What is Rootify</h1>
                <p>Rootify is a web app that allows you to look at your most listened to 
                    songs and artists as well as help you discover more new music. </p>
-->
                
                <img src="/assets/rootify.png">
                <h1>What is Rootify?</h1>
                
                <p>Rootify is a web app that allows you to look at your most listened to songs and artists as well as help you discover more new music.</p>
                
                <p>Developed for CMPS 115 Fall 2017 at UCSC<br/><br/>
                    Developers:<br/> 
                    Tristan Iverson<br/> 
                    Chloe Jiang<br/>
                    Kristine Nguyen<br/>
                    Jonathan Ortiz<br/>
                    Brian Tran<br/>
                </p>

                <h1>
                    Code References:
                </h1>

                <p>
                    Spotify Web API:
                    https://developer.spotify.com/web-api/
                </p>

                <p>
                    "spotify-web-api-js (A client-side JS wrapper for the Spotify Web API )" by JMPerez and others:
                    https://github.com/JMPerez/spotify-web-api-js
                </p>
                
                <p>
                    "spotify/web-api-auth-examples (Basic examples to authenticate and fetch data using the Spotify Web API)" GitHub Repository by JMPerez:
                    https://github.com/spotify/web-api-auth-examples
                </p>

                <p>
                    "How do I redirect in expressjs while passing some context?" Solution by Dropped.on.Caprica and Aaron Harun:
                    https://stackoverflow.com/questions/19035373/how-do-i-redirect-in-expressjs-while-passing-some-context 
                </p>

                <p>
                    "How to access parameters in .ejs page" Solution by CodeBean:
                    https://stackoverflow.com/questions/39219638/how-to-access-parameters-in-ejs-page
                </p>    
                    
                <p>
                    "Drag and drop, collapsible d3.js Tree with 50,000 nodes" by Rob Schmuecker:
                    http://bl.ocks.org/robschmuecker/7926762
                </p>
                    
                <p>
                    "D3 fill shape with image using pattern" Solution by AmeliaBR:
                    https://stackoverflow.com/questions/25881186/d3-fill-shape-with-image-using-pattern
                </p>    
                
                <p>
                    
                    "Getting Screen Positions of D3 Nodes After Transform" Solution by t.888:
                    https://stackoverflow.com/questions/18554224/getting-screen-positions-of-d3-nodes-after-transform/18561829
                </p>

                <p>
                    "Responding to Resize" by Curran Kelleher:
                    https://bl.ocks.org/curran/3a68b0c81991e2e94b19
                </p>

                <p>
                    "Wrapping Long Labels 2.0" by Eric Socolofsky and Mike Bostock:
                    https://bl.ocks.org/ericsoco/647db6ebadd4f4756cae
                </p>
                    
                <p>
                    "Add ellipses to overflowing text in SVG?" Solution by user2846569:
                    https://stackoverflow.com/questions/15975440/add-ellipses-to-overflowing-text-in-svg
                </p>

                <p>
                    Select2 library:
                    https://select2.org/ 
                </p>

                <p>
                    Chosen library:
                    https://harvesthq.github.io/chosen/
                </p>    

                <p>
                    Question mark image by Yannick Lung:
                    https://www.iconfinder.com/icons/183285/help_mark_question_icon#size=12
                </p>    
                    
                <p>  
                    Error image by Paomedia:
                    https://www.iconfinder.com/icons/299045/error_sign_icon#size=128
                </p>

                
            </div>
            <div id="thediv">
                <a class="spotbutton" href="/">Back to login</a>
            </div>
        </center>
	</body>
</html>