<!DOCTYPE HTML>
<html>
    <head>
        <title>[Rootify] About</title>
        <link rel="stylesheet" type="text/css" href="/css/about.css">
    </head>
	<body>
		<center>
            <div id="div"> 
                <img src="/assets/rootify.png">
                <h1>What is Rootify?</h1>
                
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Rootify is a web application that visualizes your taste in music and allows you to discover new artists and tracks based on your Spotify listening history.</p>
                
                <h1>Developers</h1>
                <p id="authors"> 
                    Tristan Iverson<br/> 
                    Chloe Jiang<br/>
                    Kristine Nguyen<br/>
                    Jonathan Ortiz<br/>
                    Brian Tran<br/><br/>
                    Developed for: CMPS 115 - UC Santa Cruz - Fall 2017<br/>
                </p>
                
                <div style="margin-top: 50px;">
                    <h1>Code References</h1>
                    <p>
                        <a href="https://developer.spotify.com/web-api/">Spotify Web API</a>
                    </p>
                    <p>
                        <a href="https://github.com/JMPerez/spotify-web-api-js">"spotify-web-api-js (A client-side JS wrapper for the Spotify Web API)" by JMPerez and others</a>
                    </p>
                    <p>
                        <a href="https://github.com/spotify/web-api-auth-examples">"spotify/web-api-auth-examples (Basic examples to authenticate and fetch data using the Spotify Web API)" GitHub Repository by JMPerez</a>
                    </p>
                    <p>
                        <a href="https://stackoverflow.com/questions/19035373/how-do-i-redirect-in-expressjs-while-passing-some-context">"How do I redirect in expressjs while passing some context?" Solution by Dropped.on.Caprica and Aaron Harun</a>
                    </p>
                    <p>
                        <a href="https://stackoverflow.com/questions/39219638/how-to-access-parameters-in-ejs-page">"How to access parameters in .ejs page" Solution by CodeBean</a>
                    </p>
                    <p>
                         <a href="http://bl.ocks.org/robschmuecker/7926762">"Drag and drop, collapsible d3.js Tree with 50,000 nodes" by Rob Schmuecker</a>
                    </p>
                    <p>
                        <a href="https://stackoverflow.com/questions/25881186/d3-fill-shape-with-image-using-pattern">"D3 fill shape with image using pattern" Solution by AmeliaBR</a>
                    </p>
                    <p>
                        <a href="https://stackoverflow.com/questions/18554224/getting-screen-positions-of-d3-nodes-after-transform/18561829">"Getting Screen Positions of D3 Nodes After Transform" Solution by t.888</a>
                    </p>
                    <p>
                        <a href="https://bl.ocks.org/curran/3a68b0c81991e2e94b19">"Responding to Resize" by Curran Kelleher</a>
                    </p>
                    <p>
                        <a href="https://bl.ocks.org/ericsoco/647db6ebadd4f4756cae">"Wrapping Long Labels 2.0" by Eric Socolofsky and Mike Bostock</a>
                    </p>
                    <p>
                        <a href="https://stackoverflow.com/questions/15975440/add-ellipses-to-overflowing-text-in-svg">"Add ellipses to overflowing text in SVG?" Solution by user2846569</a>
                    </p>
                    <p>
                        <a href="https://select2.org/">Select2 library</a> 
                    </p>
                    <p>
                        <a href="https://harvesthq.github.io/chosen/">Chosen library</a>
                    </p>    
                    <p>
                        <a href="https://www.iconfinder.com/icons/183285/help_mark_question_icon#size=12">Question mark image by Yannick Lung</a>
                    </p>
                    <p>  
                        <a href="https://www.iconfinder.com/icons/299045/error_sign_icon#size=128">Error image by Paomedia</a>
                    </p>
                    <p>  
                        <a href="https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793">Responsive, Pure CSS Off-Canvas Hamburger Menu by Mark Caron</a>
                    </p>
                </div>
            </div>
        </center>
	</body>
</html>