<!DOCTYPE HTML>
<html>
    <head>
        <title>[Rootify] Help</title>
        <link rel="stylesheet" type="text/css" href="/css/help.css">
    </head>
    
	<body>
		<center>
            <div id="div">
<!--                The images serve as placeholders.-->
<!--
                <img src="/assets/rootify.png">
                <h1>What is Rootify</h1>
                <p>Rootify is a web app that allows you to look at your most listened to 
                    songs and artists as well as help you discover more new music. </p>
-->
                
                <img src="/assets/rootify.png">
                <h1>How to Use</h1>
                
                <p>&nbsp;&nbsp;&nbsp;&nbsp;This page serves as a guide on how to use Rootify in order to help you visualize your taste in music and discover new tracks and artists.</p>
                
                <h1>The Tree</h1>
                <img align="middle" width="50%" src="/assets/help/tree.png">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;The tree initially shows your top 5 tracks and artists from your short-term listening experience. A track is a piece of music. Tracks are represented by squares with their album art. An artist is often the main person behind a track. Artists are represented by circles with the artist's image.</p>
                
                <h2>Zooming & Dragging</h2>
                <img align="middle" width="50%" src="/assets/help/zoom_drag.gif">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Here are two important things to know: (1) You can zoom in and out of the tree. (2) You can also hold click and drag around. Both of these allow you to have more control over the tree for a better experience.</p>
                
                <h2>Switching Between Terms</h2>
                <img align="middle" width="50%" src="/assets/help/switch_tree.gif">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;In the top bar, there are two options: short-term and long-term. Clicking on the option that is not currently selected (in green) will cause the tree to fetch and display your top 5 tracks and tracks from your short-term or long-term listening history. Short-term is based on your listening activity during the past 4 weeks. Long-term is based on your listening activity during the past 6 months.</p>
                
                <h2>Branching Out</h2>
                <img align="middle" width="50%" src="/assets/help/down_tree.gif">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Clicking on a downward arrow below any of the tracks or artists will branch the tree out and show at most 3 more tracks or artists related to the one whose arrow was clicked. Note that in general, the related tracks and artists will be different each time (this is more true for tracks). The tree can be branched out indefinitely.</p>
                
                <h2>Collapsing Nodes</h2>
                <img align="middle" width="50%" src="/assets/help/up_tree.gif">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Clicking on an upward arrow will collapse all of the connected tracks or artists below the track or artist whose arrow you clicked. Reclicking on its downward arrow will show all of the tracks or artists that had been minimized.</p>
                
                <h2>Resetting The Tree</h2>
                <img align="middle" width="50%" src="/assets/help/reset_tree.gif">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Clicking the reset tree button will remove most of the tracks and artists present in the tree except for your top 5 short-term or long-term tracks and artists.<br/><br/><b><u>Note</u></b>: All of your discovered tracks and artists from the tree will be gone.</p>
                
                <h1>The Bottom Bar</h1>
                <img align="middle" width="50%" src="/assets/help/bottom_bar.gif">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;On the bottom, there is a green box with a white upward arrow. Clicking on this button will bring up a bottom bar with options allowing you to resize and filter tracks or artists in the current tree according to popularity, energy, danceability, and happiness. Clicking on the green box again will minimize the bar.</p>
                
                
                <h2>Resizing Nodes</h2>
                <img align="middle" width="50%" src="/assets/help/bottom_bar_resize.gif">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Checking one or more of the boxes under 'Resizing Tracks & Artists' will cause all of the tracks and artists in the tree to resize according to the checked attributes. A smaller track (or artist) means that it has quantitatively less of the checked attributes than a larger track and/or artist. (Technial side note: when multiple boxes are checked, all of the attribute numbers between 0-1 are multiplied together.) Tracks will resize for a combination of any of the four attributes. Artists will only resize when popularity is checked because artists don't have audio features.</p>
                
                <h2>Filtering Nodes</h2>
                <img align="middle" width="50%" src="/assets/help/bottom_bar_filter.gif">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;The sliders below 'Filter Tracks & Artists' can be adjusted from either end. Any tracks or artists that do not fulfill the slider criteria will become grayed out.</p>
                
                <h1><b>The Sidebar</b></h1>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;The main sidebar is located on the right-hand side of the page.</p>
                
                <h1>'Details' Tab</h1>
                <img align="middle" width="50%" src="assets/help/details_tab.png">
                
                <p>&nbsp;&nbsp;&nbsp;&nbsp;On the right, there is a sidebar with a 'Details' tab and 'Generate' tab. When the 'Details' tab is selected, clicking on a track will highlight its square outline in orange and display its information. A Spotify player showing the track's name and artist will appear, along with a play button allowing you to either preview or listen to the track in Spotify. Bars will also appear below the track player showing the track's popularity, energy, danceability, happiness, and tonic key.</p>
                
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Clicking on an artist will highlight its circle outline in orange and will bring up previews for up to 3 top tracks in the United States for that artist. It will also display the artist's popularity and their associated genres (if they have any).</p>
                
                <p><u>Note</u>: It's highly recommended that Spotify is open and fully loaded on your machine before clicking play on a track (to avoid any loading problems Spotify may encounter). The track may also be played through your web browser.<br/><br/><u>Note</u>: Not all Spotify tracks have audio analysis available (and therefore will only show the 'Popularity' bar for the selected track).</p>
                
                <h1><b>Creating a Recommended Playlist</b></h1>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;There are details below for how to generate a recommended playlist based on a combination of tracks, artists, and/or genres.</p>
                
                <h1>'Generate' Tab</h1>
                <img align="middle" width="50%" src="assets/help/generate_tab.png">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;When the 'Generate' tab is selected, up to a <u>combination</u> of 5 tracks, artists, and genres can be selected. Any of the tracks and artists in the tree can be selected (the most recent selection will be outlined in orange). They will be outlined in green (or orange) if they are in the 'Selected' list. Tracks and artists can be removed from the 'Selected' list by clicking on the red '&times;' (on the right).</p> 
                
                <img align="middle" width="20%" src="/assets/help/generate_search.gif">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Tracks and artists that are not in the tree can be searched up and added to the 'Selected' list. Any artists or tracks in the tree that were selected using the search feature will have their nodes highlighted accordingly.</p>
                
                <p>&nbsp;&nbsp;&nbsp;&nbsp;There is a 'Select Genre' section where you can search and select a genre (there are over 100 genres). A genre can be removed by clicking on the gray '&times;' next to its name.</p>
                
                
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Under 'Filter Options,' there are four sliders (similar to the sliders in the bottom bar). Generated tracks will adhere to your specified criteria.</p>
                
                <h2>Dialog Box</h2>
                <img align="middle" width="50%" src="/assets/help/dialog.png">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Clicking the 'Generate Playlist' button at the bottom of the 'Generate' tab will bring up a dialog box. This box will ask you to name your new playlist and specify the <u>maximum</u> number of tracks. Leaving the name blank will cause the playlist to use the default name "[Rootify] Playlist". The minimum number of tracks in the playlist will be based off of the number of tracks in the 'Selected' list. The maximum number of tracks is 50. After you decide on the playlist's name and amount of tracks, click 'Generate Playlist'. Once the playlist has been created, the dialog box will close and you will be able to see a list of the generated tracks in the 'Generate' tab. The newly generated playlist will become visible immediately on your Spotify account. To further manage your new playlist, please use Spotify.<br/><br/><u>Important</u>: Your selected tracks will appear at the top of your new playlist.</p>
            </div>
        </center>
	</body>
</html>