<!DOCTYPE html>
<html>
	<head>
		<title>Rootify</title>
	</head>
    
	<body>
        <h1>Logged in!</h1>
        
        <script type="text/javascript">
            
            var access_token = "<%- access_token -%>"
        </script>
	</body>
</html>