<!DOCTYPE html>
<html>
	<head>
		<title>Rootify</title>
        
        <!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		
		<!-- D3.js v3 -->
		<script src="http://d3js.org/d3.v3.min.js"></script>
		
		<!-- Spotify Web API (JS client-side wrapper) -->
		<script src="/js/spotify-web-api.js"></script>


        <link rel="stylesheet" type="text/css" href="/css/home.css">
	</head>
    
	<body>
        <!-- Header  -->
        <div id="tophead">
            <div class="navbar">
                <a href="/">Logout</a>
    </div>
    </div>
        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Tabs -->
             <div id="tabs" class="c-tabs no-js">
                <div class="tabnav">
                    <a href="#" class="tablink is-active">
                        Details
                    </a>
                    <a href="#" class="tablink">
                        Generate
                    </a>
                </div>
        

            <!-- Tabs Content  -->
            <div class="c-tab is-active">
                <div id="overflowss" class="tabcontent">
                    <h2> Details </h2>
                    <p> Details stuff here
                </div>
            </div>

            <div class="c-tab">
                <div id="overflowss" class="tabcontent">
                    <h2> Selected </h2>
                    <p> Generate stuff here
                    
                    <h2> Generated Playlist </h2>
                              
                </div>
            </div>

            </div>
        </div>

        <!-- Tree Container -->
        <div id="tree-container"></div>
        
        <script type="text/javascript">
            var spotifyApi = new SpotifyWebApi();
            var access_token = "<%- access_token -%>";
            
            spotifyApi.setAccessToken(access_token);
        </script>
        
        <script type="text/javascript">
            
            var treeDiv = document.getElementById("tree-container");
            var svg = d3.select(treeDiv).append("svg");
            
            var viewerWidth;
            var viewerHeight;
            
            function redraw(){
                
                // Extract the width and height that was computed by CSS.
                viewerWidth = treeDiv.clientWidth;
                viewerHeight = treeDiv.clientHeight;
                
                // Use the extracted size to set the size of an SVG element.
                svg
                .attr("width", viewerWidth)
                .attr("height", viewerHeight)
                .attr("class", "overlay");
            }

            // Draw for the first time to initialize.
            redraw();

            // Redraw based on the new size whenever the browser window is resized.
            window.addEventListener("resize", redraw);
        </script>
        
        <script type="text/javascript" src="/js/layouts.js"></script>
        

        <!-- TAB JS -->
        <script src="/js/tabs.js"></script>
        
        <script>
          var myTabs = tabs({
            el: '#tabs',
            tabNavigationLinks: '.tablink',
            tabContentContainers: '.c-tab'
          });
          myTabs.init();
        </script>

	</body>
</html>