<!DOCTYPE html>
<html>
	<head>
		<title>Rootify</title>
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <!-- jQuery UI -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <!-- Chosen library for select -->
        <script src="/js/chosen.jquery.js"></script>
        
        <!-- D3.js v3 -->
		<script src="http://d3js.org/d3.v3.min.js"></script>
		
		<!-- Spotify Web API (JS client-side wrapper) -->
		<script src="/js/spotify-web-api.js"></script>
        
        <!-- Main CSS -->
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        
        <!-- jQuery CSS -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <!-- Chosen CSS -->
        <link rel="stylesheet" type="text/css" href="/css/chosen.css">
	</head>
    
	<body>
        <!-- Header  -->
        <div id="tophead">
            <div class="navbar">

                <a id="logout-b">Logout</a>
                
                <a style="margin-left: 25px;" id="short-term">Short-Term</a>
                <a id="long-term">Long-Term</a>
                
                <a style="margin-left: 25px;" id="reset_tree">Reset Tree</a>
                
                <script type="application/javascript">
                    var filterOptions = {
                        pop_slider: { typ: "popularity", values: [0, 100] }, 
                        dance_slider: { typ: "dance", values: [0, 100] }, 
                        energy_slider: { typ: "energy", values: [0, 100] }, 
                        valence_slider: { typ: "valence", values: [0, 100] }
                    };
                    
                    function filterNode(d, element) {
                        if (d.root || d.spacer) { return; }
                        var pass = true;

                        for (var key in filterOptions) {
                            var typ = filterOptions[key].typ;
                            var range = filterOptions[key].values;
                            
                            var featValue = d[typ] * 100;
                            var min = range[0];
                            var max = range[1];
                            
                            if (featValue < min || featValue > max) {
                                pass = false;
                                break;
                            }
                        }

                        d3.select(element).select("image").style("opacity", pass ? 1 : 0.05);
                    }
                    
                    function filterNodes() {
                        var node = svgGroup.selectAll("g.node");
    
                        // For each node in the set..
                        node.each(function(d) {
                            filterNode(d, this);
                        });
                    }
                    
                    function upperCaseFirstLetter(string) {    
                        if (string == "valence") {
                            return "Positivity";
                        } else if (string == "dance") {
                            return "Danceability";
                        }
                        return string.charAt(0).toUpperCase() + string.slice(1);
                    }
                    
                    $( function() {
                        for (var key in filterOptions) {
                            
                            $( "#filter_" + key ).slider({
                                range: true, 
                                min: 0, 
                                max: 100, 
                                values: [0, 100], 
                                slide: function(event, ui) {
                                    var min = ui.values[0];
                                    var max = ui.values[1];
                                    var id = $(this).attr("id");
                                    
                                    var typ = filterOptions[id.slice(7)].typ;
                                    
                                    $("#" + id + "_text").html(upperCaseFirstLetter(typ) + ": " + min + " - " + max); 
                                }
                            });
                            
                            $( "#" + key ).slider({
                                range: true,
                                min: 0,
                                max: 100,
                                values: [0, 100],
                                change: function (event, ui) {
                                    var min = ui.values[0];
                                    var max = ui.values[1];
                                    
                                    var id = $(this).attr("id");
                                    filterOptions[id].values = [min, max];
                                    
                                    filterNodes();
                                }, 
                                slide: function(event, ui) {
                                    var min = ui.values[0];
                                    var max = ui.values[1];
                                    var id = $(this).attr("id");

                                    var typ = filterOptions[id].typ;
                                    
                                    $("#" + id + "_text").html(upperCaseFirstLetter(typ) + ": " + min + " - " + max); 
                                }
                            });
                        }
                    });
                    
                    var scaleOptions = {
                        popCheck: false, 
                        energyCheck: false, 
                        danceCheck: false, 
                        posCheck: false
                    };
                    
                    function handleClick(cb) {
                        scaleOptions[cb.id] = cb.checked;
                        resizeNodes();
                    }
                </script>
            </div>
        </div>
        

        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Tabs -->
             <div id="tabs" class="c-tabs no-js">
                <div class="tabnav">
                    <a href="#" class="tablink is-active">
                        Details
                    </a>
                    <a href="#" class="tablink">
                        Generate
                    </a>
                </div>
                
                <!-- Tabs Content  -->
                <div class="c-tab is-active">
                    <div id="overflowss" class="tabcontent">
                        <h2> Details </h2>
                        <div class="tabcontentinner" id="detailsTab">
                            
                            <div id="headerImage" width="100%"></div>
                            <div id="spotifyTracks" width="100%"></div>

                            <div id="at-container">
                                <svg id="detailsSVG"></svg>
                            </div>
                            
                            <div id="detailsGenres" width="100%"><p style="padding-left: 8px; padding-right: 8px;"></p></div>
                        </div>
                    </div>
                </div>

                <div class="c-tab">
                    <div id="overflowss" class="tabcontent">
                        <h2> Selected </h2>
                        <div class="tabcontentinner" id="selectedTracks">
                            
                        </div>
                        
                        
                        <div class="tabcontentinner" id= "selectedArtists">
                            
                        </div>
                        
                          
                        
                        <select id="first" data-placeholder="Select genres" class="chosen" style="font-family:Arial !important;" multiple=true tabindex="4">
                            <option value="acoustic">Acoustic</option>
                            <option value="afrobeat">Afrobeat</option>
                            <option value="alt-rock">Alt-rock</option>
                            <option value="alternative">Alternative</option>
                            <option value="ambient">Ambient</option>
                            <option value="anime">Anime</option>
                            <option value="black-metal">Black-metal</option>
                            <option value="bluegrass">Bluegrass</option>
                            <option value="blues">Blues</option>
                            <option value="bossanova">Bossanova</option>
                            <option value="brazil">Brazil</option>
                            <option value="breakbeat">Breakbeat</option>
                            <option value="british">British</option>
                            <option value="cantopop">Cantopop</option>
                            <option value="chicago-house">Chicago-house</option>
                            <option value="children">Children</option>
                            <option value="chill">Chill</option>
                            <option value="classical">Classical</option>
                            <option value="club">Club</option>
                            <option value="comedy">Comedy</option>
                            <option value="country">Country</option>
                            <option value="dance">Dance</option>
                            <option value="dancehall">Dancehall</option>
                            <option value="death-metal">Death-metal</option>
                            <option value="deep-house">Deep-house</option>
                            <option value="detroit-techno">Detroit-techno</option>
                            <option value="disco">Disco</option>
                            <option value="disney">Disney</option>
                            <option value="drum-and-bass">Drum-and-bass</option>
                            <option value="dub">Dub</option>
                            <option value="dubstep">Dubstep</option>
                            <option value="edm">EDM</option>
                            <option value="electro">Electro</option>
                            <option value="electronic">Electronic</option>
                            <option value="emo">Emo</option>
                            <option value="folk">Folk</option>
                            <option value="forro">Forro</option>
                            <option value="french">French</option>
                            <option value="funk">Funk</option>
                            <option value="garage">Garage</option>
                            <option value="german">German</option>
                            <option value="gospel">Gospel</option>
                            <option value="goth">Goth</option>
                            <option value="grindcore">Grindcore</option>
                            <option value="groove">Groove</option>
                            <option value="grunge">Grunge</option>
                            <option value="guitar">Guitar</option>
                            <option value="happy">Happy</option>
                            <option value="hard-rock">Hard-rock</option>
                            <option value="hardcore">Hardcore</option>
                            <option value="hardstyle">Hardstyle</option>
                            <option value="heavy-metal">Heavy-metal</option>
                            <option value="hip-hop">Hip-Hop</option>
                            <option value="holidays">Holidays</option>
                            <option value="honky-tonk">Honky-tonk</option>
                            <option value="house">House</option>
                            <option value="idm">IDM</option>
                            <option value="indian">Indian</option>
                            <option value="indie">Indie</option>
                            <option value="indie-pop">Indie-pop</option>
                            <option value="industrial">Industrial</option>
                            <option value="iranian">Iranian</option>
                            <option value="j-dance">J-dance</option>
                            <option value="j-idol">J-idol</option>
                            <option value="j-pop">J-pop</option>
                            <option value="j-rock">J-rock</option>
                            <option value="jazz">Jazz</option>
                            <option value="k-pop">K-pop</option>
                            <option value="kids">Kids</option>
                            <option value="latin">Latin</option>
                            <option value="latino">Latino</option>
                            <option value="malay">Malay</option>
                            <option value="mandopop">Mandopop</option>
                            <option value="metal">Metal</option>
                            <option value="metal-misc">Metal-misc</option>
                            <option value="metalcore">Metalcore</option>
                            <option value="minimal-techno">Minimal-techno</option>
                            <option value="movies">Movies</option>
                            <option value="mpb">Mpb</option>
                            <option value="new-age">New-age</option>
                            <option value="new-release">New-release</option>
                            <option value="opera">Opera</option>
                            <option value="pagode">Pagode</option>
                            <option value="party">Party</option>
                            <option value="philippines-opm">Philippines-opm</option>
                            <option value="piano">Piano</option>
                            <option value="pop">Pop</option>
                            <option value="pop-film">Pop-film</option>
                            <option value="post-dubstep">Post-dubstep</option>
                            <option value="power-pop">Power-pop</option>
                            <option value="progressive-house">Progressive-house</option>
                            <option value="psych-rock">Psych-rock</option>
                            <option value="punk">Punk</option>
                            <option value="punk-rock">Punk-rock</option>
                            <option value="r-n-b">R&B</option>
                            <option value="rainy-day">Rainy-day</option>
                            <option value="reggae">Reggae</option>
                            <option value="reggaeton">Reggaeton</option>
                            <option value="road-trip">Road-trip</option>
                            <option value="rock">Rock</option>
                            <option value="rock-n-roll">Rock-n-roll</option>
                            <option value="rockabilly">Rockabilly</option>
                            <option value="romance">Romance</option>
                            <option value="sad">Sad</option>
                            <option value="salsa">Salsa</option>
                            <option value="samba">Samba</option>
                            <option value="sertanejo">Sertanejo</option>
                            <option value="show-tunes">Show-tunes</option>
                            <option value="singer-songwriter">Singer-songwriter</option>
                            <option value="ska">Ska</option>
                            <option value="sleep">Sleep</option>
                            <option value="songwriter">Songwriter</option>
                            <option value="soul">Soul</option>
                            <option value="soundtracks">Soundtracks</option>
                            <option value="spanish">Spanish</option>
                            <option value="study">Study</option>
                            <option value="summer">Summer</option>
                            <option value="swedish">Swedish</option>
                            <option value="synth-pop">Synth-pop</option>
                            <option value="tango">Tango</option>
                            <option value="techno">Techno</option>
                            <option value="trance">Trance</option>
                            <option value="trip-hop">Trip-hop</option>
                            <option value="turkish">Turkish</option>
                            <option value="work-out">Work-out</option>
                            <option value="world-music">World-music</option>
                    </select>
                        
                        <h2> Filtering Options </h2>
                        
                        <div id="generateFilters">
                            <div id="filter_pop_slider_text" class="range-slider-text">Popularity: 0 - 100</div>
                            <div id="filter_pop_slider" class="generate-range-slider"></div>

                            <div id="filter_dance_slider_text" class="range-slider-text">Danceability: 0 - 100</div>
                            <div id="filter_dance_slider" class="generate-range-slider"></div>

                            <div id="filter_energy_slider_text" class="range-slider-text">Energy: 0 - 100</div>
                            <div id="filter_energy_slider" class="generate-range-slider"></div>

                            <div id="filter_valence_slider_text" class="range-slider-text">Positivity: 0 - 100</div>
                            <div id="filter_valence_slider" class="generate-range-slider"></div>
                        </div>
                        
                        <!-- Button  -->
                        <a class="playlistbtn" href="#" onclick="createPlaylist()">Generate Playlist</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tree Container -->
        <div id="tree-container">
            
        <script type="text/javascript">        
            $(".chosen").chosen({
                no_results_text: "No relevant genres found!",
                width: "99%", 
                max_selected_options: 5
            });
                        
            function getCookie(name) {
                var re = new RegExp(name + "=([^;]+)");
                var value = re.exec(document.cookie);
                return (value != null) ? unescape(value[1]) : null;
            }
            
            function deleteCookie(name) {
                document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            }
            
            var spotifyApi = new SpotifyWebApi();
            var access_token = "<%- access_token -%>";
            //var access_token = "<%- access_token -%>";
            
            var access_token = getCookie("myToken");
            var refresh_token = getCookie("myRefreshToken");
            
            spotifyApi.setAccessToken(access_token);

            if (access_token == null || access_token == "") {
                window.location.replace('http://localhost:8888/');
            } else {
                spotifyApi.setAccessToken(access_token);
            }
        </script>

        </div>  
        <!-- End Tree Container !Do not Delete! div make sure the script is in the tree container -->

        <!-- bottom pop out bar -->
        <div id="bottom-bar">

            <button id = "button_slide" type="button" class="btn btn-primary btn-block">Toggle</button>

            <div id="slideout">
                
                <div id="leftSide">
                    
                    <h1 style="color: white; margin-top: 15px; margin-bottom: 10px"><b>Resize Tracks & Artists</b></h1>
                    
                    <label class="container2">Popularity
                        <input type="checkbox" id="popCheck"  onclick='handleClick(this);'>
                        <span class="checkmark"></span>
                    </label>
                    
                    <label class="container2">Energy
                        <input type="checkbox" id="energyCheck"  onclick='handleClick(this);'>
                        <span class="checkmark"></span>
                    </label>
                    
                    <label class="container2">Danceability
                        <input type="checkbox" id="danceCheck" onclick='handleClick(this);'>
                        <span class="checkmark"></span>
                    </label>
                    
                    <label class="container2">Positivity
                        <input type="checkbox" id="posCheck"  onclick='handleClick(this);'>
                        <span class="checkmark"></span>
                    </label>
                </div>
                
                <div id="rightSide">
                    
                    <h1 style="color: white; margin-top: 15px; margin-bottom: 10px"><b>Filter Tracks & Artists</b></h1>
                    
                    <div id="pop_slider_text" class="range-slider-text">Popularity: 0 - 100</div>
                    <div id="pop_slider" class="range-slider"></div>
                    
                    <div id="dance_slider_text" class="range-slider-text">Danceability: 0 - 100</div>
                    <div id="dance_slider" class="range-slider"></div>
                    
                    <div id="energy_slider_text" class="range-slider-text">Energy: 0 - 100</div>
                    <div id="energy_slider" class="range-slider"></div>
                    
                    <div id="valence_slider_text" class="range-slider-text">Positivity: 0 - 100</div>
                    <div id="valence_slider" class="range-slider"></div>
                    
                </div>
            </div>
        </div>

        <!-- bottom pop up bar script -->
        <script>
            $('#slideout').toggleClass('on');
            
            $('button').click(function(){
                $('#slideout').toggleClass('on');
            });
        </script>
        
        <!-- Details tab -->
        <script type="text/javascript" src="/js/detailsTab.js"></script>
        
        <!-- Resize code -->
        <script type="text/javascript">
            
            // Tree container
            var treeDiv = document.getElementById("tree-container");
            // Artist track container
            var atDiv = document.getElementById("at-container");
            
            
            var selectedType = null;
            
            var svg = d3.select(treeDiv).append("svg").attr("id", "baseSVG");
            
            var viewerWidth, viewerHeight;
            var viewerW2, viewerH2;
            
            // This variable is true if the 'Generate' tab is selected.
            var generateTabIsActive = false;
            
            function generateTabSwitched(isActive) {
                generateTabIsActive = isActive;
                if (lastSelected != null) {
                    var color;
                    if (isActive) {
                        color = (selectedNode.indexOf(lastSelected) == -1) ? "#ccc" : "#4B9877";
                    } else {
                        color = "#FF8C00";
                    }
                    var parNode = d3.select(lastSelected.parentNode);
                    var parCircle = parNode.select("circle"); 
                    if (parCircle[0][0] != null) {
                        parCircle.style("stroke", color);
                    } else {
                        parNode.select("rect").style("stroke", color);
                    }
                    
                    var d = d3.select(lastSelected).datum();
                    
                    // We switched to the 'Details' tab, show the previous information.
                    if (!isActive) {
                        barManager.showBars();
                    }
                }
            }
            
            // For the bars in the 'Details' tab
            var barManager = new BarManager();
            
            function redraw() {
                // Extract the width and height that was computed by CSS.
                viewerWidth = treeDiv.clientWidth;
                viewerHeight = treeDiv.clientHeight;
                
                // Use the extracted size to set the size of an SVG element.
                svg
                .attr("width", viewerWidth)
                .attr("height", viewerHeight)
                .attr("class", "overlay");
                
                // Resize the the details SVG
                viewerW2 = atDiv.clientWidth;
                viewerH2 = atDiv.clientHeight;
                
                d3.select("#detailsSVG")
                    .attr("width", viewerW2)
                    .attr("height", viewerH2);
                
                if (!generateTabIsActive) {
                    barManager.updateBars();
                }
            }

            // Draw for the first time to initialize.
            redraw();

            // Redraw based on the new size whenever the browser window is resized.
            window.addEventListener("resize", redraw);
        </script>
        
        <!-- Tree layout -->
        <script type="text/javascript" src="/js/layouts.js"></script>
        
        <!-- TAB JS -->
        <script src="/js/tabs.js"></script>
        <script>            
            var myTabs = tabs({
                el: '#tabs',
                tabNavigationLinks: '.tablink',
                tabContentContainers: '.c-tab'
            });
            myTabs.init();
        </script>
	</body>
</html>