<!DOCTYPE html>
<html>
	<head>
		<title>Rootify</title>
        
        <!-- jQuery -->
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		
		<!-- D3.js v3 -->
		<script src="http://d3js.org/d3.v3.min.js"></script>
		
		<!-- Spotify Web API (JS client-side wrapper) -->
		<script src="/js/spotify-web-api.js"></script>


        <link rel="stylesheet" type="text/css" href="/css/home.css">
	</head>
    
	<body>

        <!-- Header  -->
        <div id="tophead">
            <div class="navbar">

                <a id="logout-b">Logout</a>
                
                <a style="margin-left: 25px;" id="short-term">Short-Term</a>
                <a id="long-term">Long-Term</a>
                
                <a style="margin-left: 25px;" id="reset_tree">Reset Tree</a>
            </div>
        </div>
        

        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Tabs -->
             <div id="tabs" class="c-tabs no-js">
                <div class="tabnav">
                    <a href="#" class="tablink is-active">
                        Details
                    </a>
                    <a href="#" class="tablink">
                        Generate
                    </a>
                </div>

        

            <!-- Tabs Content  -->
            <div class="c-tab is-active">
                <div id="overflowss" class="tabcontent">
                    <h2> Details </h2>
                    <div class="tabcontentinner" id="detailsTab">
                        <div id="headerImage" width="100%"></div>
                        <div id="spotifyTracks" width="100%"></div>
                        <div id="detailsSVGDiv" width="100%">
                            <svg id="detailsSVG" width="100%" height="200px"></svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-tab">
                <div id="overflowss" class="tabcontent">
                    <h2> Selected </h2>
                        <div class="tabcontentinner">
                            <p> 1. Selected Artist here
                            <p> 2. Selected Track here
                            <p> 3. Selected Track here
                            <p> 4. Selected Track here
                            <p> 5. Selected Artist here
                        </div>
    
                  <h2> Generated Playlist </h2>
                         <div class="tabcontentinnerdif">

                            <p> 1. Track
                            <p> 2. Track
                            <p> 3. Track
                            <p> 4. Track
                            <p> 5. Track
                            <p> 6. Track
                            <p> 7. Track
                            <p> 8. Track
                            <p> 9. Track
                            <p> 10. Track
                            <p> 11. Track
                            <p> 12. Track
                            <p> 13. Track
                            <p> 14. Track
                            <p> 15. Track
                            <p> 16. Track
                            <p> 17. Track
                            <p> 18. Track
                            <p> 19. Track
                            <p> 20. Track
                            <p> 21. Track                                                            
                         </div>


                    <!-- Button  -->
                    <a class="playlistbtn" href="#">Generate Playlist</a>
                </div>
            </div>
            </div>

        </div>

        <!-- Tree Container -->
        <div id="tree-container">
            
            <script type="text/javascript">

            
            function getCookie(name)
              {
                var re = new RegExp(name + "=([^;]+)");
                var value = re.exec(document.cookie);
                return (value != null) ? unescape(value[1]) : null;
              }

            function deleteCookie(name) {
                document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            }
            

            var spotifyApi = new SpotifyWebApi();
            var access_token = "<%- access_token -%>";
            //var access_token = "<%- access_token -%>";
            
            var access_token = getCookie("myToken");
            var refresh_token = getCookie("myRefreshToken");
            
            spotifyApi.setAccessToken(access_token);

            if (access_token == null || access_token == "") {
                window.location.replace('http://localhost:8888/');
            } else {
                spotifyApi.setAccessToken(access_token);
            }
        </script>
        
        
        <script type="text/javascript">
            
            var treeDiv = document.getElementById("tree-container");
            var barDiv = document.getElementById("detailsSVGDiv");
            
            var svg = d3.select(treeDiv).append("svg").attr("id", "baseSVG");
            
            var viewerWidth;
            var viewerHeight;
            
            function redraw(){
                
                // Extract the width and height that was computed by CSS.
                viewerWidth = treeDiv.clientWidth;
                viewerHeight = treeDiv.clientHeight;
                
                // Use the extracted size to set the size of an SVG element.
                svg
                .attr("width", viewerWidth)
                .attr("height", viewerHeight)
                .attr("class", "overlay");
                
                viewerWidth2 = barDiv.clientWidth;
                viewerHeight2 = barDiv.clientHeight;
                
                d3.select("#detailsSVG")
                .attr("width", viewerWidth2)
                .attr("height", viewerHeight2);
            }

            // Draw for the first time to initialize.
            redraw();

            // Redraw based on the new size whenever the browser window is resized.
            window.addEventListener("resize", redraw);
        </script>
        
        <script type="text/javascript" src="/js/detailsTab.js"></script>
        <script type="text/javascript" src="/js/layouts.js"></script>

        </div>
        
        
        

        <!-- TAB JS -->
        <script src="/js/tabs.js"></script>
        
        <script>
          var myTabs = tabs({
            el: '#tabs',
            tabNavigationLinks: '.tablink',
            tabContentContainers: '.c-tab'
          });
          myTabs.init();
        </script>

	</body>
</html>