<!DOCTYPE HTML>
<html>
    <head>
        <title>Rootify</title>
        <link rel="stylesheet" type="text/css" href="/css/oops.css">
    </head>
    
	<body>
		<center>
            <div id="div">
                <img src="/assets/rootify.png"/>
                <p>Oops! It appears that you don't have any top artists and tracks!<br/>Please listen to your favorite artists and tracks on your Spotify account for at least 2 days and try again.<br>
                <br/>
                
                <a href="http://www.rootify.io/logout">&laquo; Return to home</a>
            </div>
        </center>
	</body>
</html>