@font-face {
    font-family: Source Sans Pro;
    src: url(./assets/fonts/SourceSansPro-Regular.otf);
}

@font-face {
	font-family: Avenir Next;
	src: url(./assets/fonts/AvienirNext.ttc);
}

body {
    background-color: #273143;
    margin:0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    line-height: 1em;
    padding-top: 65px; 
}

p {
	color: #7B7B7B;
	font-size: 1em;
	line-height: 1em;
}

h1 {
	color: #fff;
	font-size: 2em;
	line-height: 1em;
}

/*----------- Other ---------*/

.logo {
    width: 400px;
}


@media screen and (max-width: 700px) {
    body {
        font-size: .8em;
        text-align: left;
    }
    #thediv a {
        font-size: 10pt;
        padding: 20px 60px;
    }
    .logo {
        width: 60%;
    }
}

ul {
    list-style-type: none;
}

#header {
    position: fixed;
    padding-top:10px;
    width: 100%;
    height: 40px;
    top: 0;
    background-color:#273143;
}

li {
    float: right;
    display: inline-block;
    padding-left: 2px;
    font-size: 1.3em;
    color: white;
}

.logo{
    width: 400px;
}
#first {
   padding-right: 20px; 
}

#second {
   padding-right: 90px; 
}

li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    padding: 0px 10px;
}

li a:hover {
    color: #4B9877;
    transition-property: all;
    transition-duration: .5s;
}


div p {
    text-align: left;
    line-height: 1.3em;
}

#div {
	margin-top: 0%;
	width: 50%;
	margin-bottom: 5%;
}


.authors {
   display: flex;
    flex-direction: row;

     justify-content: space-between;
   

}

a {
    color: #01B482;
    text-decoration: none;
}
a:hover{
    color:white;
      transition-property: all;
    transition-duration: .5s;
}
ul {
    list-style-type: none;
}

.line-div {
    width: 100%;
    bottom: 0;
    border-bottom: .5px solid #242A34;
    padding-top: 1%;
}

button.accordion {
    font-size: 1.5em;
    background-color: #212938;
    border: .5px solid #1f2126;
    color: #eee;
    cursor:pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline:none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover{
    background-color: #01B482;
}

.panel {
    width: 100%;
    background-color:#1e2229;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    padding-left: 5%;
    padding-right: 5%;
}

button.accordion:after {
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
}

h2 {
    color:#01B482;
    text-align: left;
    line-height: 1em;
}

.floattoright {
    float:right;
}
.floattoright a{
    margin-left: 30px;
}
.floattoright a:hover{
    color:#273143;
}

.cards {
     display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.card {
    border:.5px solid #242A34;
    background-color:#efefef;
    box-shadow: 0 4px 8px 0 rbga(0,0,0,0.2);
    margin: auto;
    text-align: center;
    padding: 4%;
    overflow: hidden;
}
.card p{
    line-height: 1em;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

}

.title {
    display:flex;
    flex: 1 1 auto;
    flex-direction: column;
    color: black;
    font-size: 1em;
}

@media screen and (max-width: 700px) {
    body {
        font-size: .8em;
        text-align: left;
    }
    #thediv a {
        font-size: 10pt;
        padding: 20px 60px;
    }
    .logo {
        width: 60%;
    }
}
