@font-face {
    font-family: Source Sans Pro;
    src: url(./assets/fonts/SourceSansPro-Regular.otf);
}

@font-face {
	font-family: Avenir Next;
	src: url(./assets/fonts/AvienirNext.ttc);
}

body {
    background-color: #273143;
    margin:0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    line-height: 1em;
}

p {
	color: #7B7B7B;
	font-size: 1em;
	line-height: 1em;
}

h1 {
	color: #fff;
	font-size: 2em;
	line-height: 1em;
}

div p {
    text-align: left;
    line-height: 1.3em;
}

#div {
	margin-top: 5%;
	width: 50%;
	margin-bottom: 5%;
}

#authors {
    text-align: center;
}

a {
    color: white;
}
ul {
    list-style-type: none;
}

#header {
    
    width: 100%;
    height: 50px;
    top: 0;
    background-color:#273143;
}

li {
    float: right;
    display: inline-block;
    padding-left: 2px;
    font-size: 1.3em;
    color: white;
}

#first {
   padding-right: 20px; 
}

#second {
   padding-right: 90px; 
}

li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    padding: 0px 10px;
}

li a:hover {
    color: #4B9877;
    transition-property: all;
    transition-duration: .5s;
}