/* ------------- Body ------------ */
@font-face {
    font-family: Source Sans Pro;
    src: url(./assets/fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: Avenir Next;
    src: url(./assets/fonts/AvenirNext.ttc);
}

body {
    background-color: #2F394C;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: .9em;
    line-height: 1em;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    overflow: scroll;
    overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
    display: none;
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0, 0, 0, 0.05);
}

/* link options */
a {
    font-family: "Source Sans Pro", sans-serif;
}

/* ------------- Bottom Bar ------------ */

#leftSide, #rightSide, #generateFilters, #closeButton, #geneatePlaylistBtn {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    width: 82%;
}

#slideout {
    background: #212938;
    border-top: 1px solid #242A34;
    border-right: 1px solid #242A34;
    position: relative;
    bottom: 0%;
    top: 0%;
    left: 0px;
    width: 100%;
    height: 200px;
    overflow-y: hidden;
    max-height: 0px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#slideout.on {
    max-height: 200px;
}

.button_slide {
    position: relative;
    left: 50%;
    width: 36px;
    margin-left: -18px;
    margin-bottom: 2px;
    background-color: #4B9877; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#innerRightDiv {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#leftSide {
    margin-left: 2%;
    width: 48%;
    height: 100%;
    float: left;
}

#rightSide {
    width: 50%;
    height: 100%;
    float: left;
}

/*  ------------- Checkboxes ------------ */

/* Customize the label (the container) */
.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}

/* Hide the browser's default checkbox */
.container2 input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ------------- Header ------------ */
#tophead {
    height: 60px;
    margin: 0;
    background-color: #252F41;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-bottom: .5px solid #242A34;
}

.navbar {
    position: fixed;
    height: 60px;
    width: 100%;
    vertical-align: middle;
    top: 15px;
    padding-left: 2vh;
    overflow: hidden;
}

.floatright {
    position: fixed;
    font-size: 1.5em;
    font-weight: normal;
    right: 0;
    color: white;
    vertical-align: middle;
    top: 15px;
    padding-right: 10vh;
}

.floatright a {
    color: #fff;
}

.navbar a {
    vertical-align: middle;
    display: block;
    height: 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: #fff;
    border: 1px solid #4B9877;
    float: left;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 100;
    font-size: .8em;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    border-radius: 0;
}

.navbar a:hover {
    color: #fff;
    background-color: #4B9877;
    border-color: #4B9877;
    transition-property: all;
    transition-duration: .5s;
}

.navbar a:active {
    background-color: #4B9877;
}

.navbar .icon {
    display: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}
  
.littleleft {
    margin-left: 25px;
}


/* ------------- Top nav bar responsive  ------------ */
@media screen and (min-width: 1000px){
    .menu-toggle, .helphide, .logouthide{
        display:none !important;
    }
    
    .menu-toggle,
    .main-menu .menu-close {
        display: none;
    }
    
    .main-menu .menu-toggle {
        display:none;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media screen and (max-width: 1000px) {

    .logouthide2 {
        display: none !important;
    }
    
    .helphide {
        display: inline-block;
    }
    
    .littleleft {
        margin: 0;
    }
    
    .menu-toggle {
        display: inline-block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        border:none !important;
    }
    
    .main-menu {
        position: absolute;
        left: -200px;
        top: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
                  box-shadow 0.3s ease;
        z-index: 999;
    }
    
    .main-menu ul {
        list-style: none;
        margin: 0;
        padding: 2.5em 0 0;
        /* Hide shadow w/ -8px while 'closed' */
        -webkit-box-shadow: -8px 0 8px rgba(20, 20, 20, .5);
        -moz-box-shadow: -8px 0 8px rgba(20, 20, 20, .5);
        box-shadow: -8px 0 8px rgba(20, 20, 20, .5);
        min-height: 100%;
        width: 200px;
        background: #212939;
    }

    .main-menu li {
        display: block;
        width: 100%;
    }

    .main-close {
    }
    
    .main-close a {
        display: inline-block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
    }
    
    .main-menu a {
        display: inline-block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
    }
    
    .main-menu li:first-child a {
        border-top: 1px solid #383838;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        background: #333;
        text-decoration: underline;
    }

    .main-menu .menu-close {
        position: absolute;
        right: 0;
        top: 0;
    }

    .main-menu:target,
    .main-menu[aria-expanded="true"] {
        left: 0;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(20, 20, 20, .25);
        -webkit-box-shadow: 3px 0 12px rgba(20, 20, 20, .25);
        box-shadow: 3px 0 12px rgba(20, 20, 20, .25);
    }

    .main-menu:target .menu-close,
    .main-menu[aria-expanded="true"] .menu-close {
        z-index: 1001;
    }

    .main-menu:target ul,
    .main-menu[aria-expanded="true"] ul {
        position: relative;
        z-index: 1000;
    }
    
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
        position: absolute;
        display: block;  
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        background: #252F41;
        background: rgba(20, 20, 20, .85);
        cursor: default;
    }

    @supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
            position: fixed;
        }
    }
    
    .navbar a {
        border:none;
        display:block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
    }
}

/* ------------- Sidebar ------------ */

#sidebar {
    z-index: 5;
    position: fixed;
    right: 0;
    width: 18%;
    height: calc(100vh - 60px);
    background-color: #252F41;
    border-left: .5px solid #242A34;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.line-div {
    width: 100%;
    bottom: 0;
    border-bottom: .5px solid #242A34;
    padding-top: 1%;
}

#detailsSVG {
    width: 100%;
}

#detailsGenres{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    line-height: 16px;
    background-color: #282828;
    display: none;
    padding: 5px 10px 5px 10px;
}

.artabout{
    font-family: "Source Sans Pro", sans-serif;
    color:#E5E4E5;
    font-weight: normal;
    font-size: .8em;
    font-height: .8em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.artabout h2{
    font-size: 1.05em;
}

#generateFilters {
    width: 87%;
    height: 130px;
    margin-left: 5%;
    margin-right: 8%;
}

#generatedPlaylistTracks {
    display: none;
}

.trackBox {
    font-size: .8em;
    position: relative;
    width: 90%;
    padding: 5%;
    background-color: #212938;
    outline: .5px solid #1f2126;
    color: #959da0;
}

.trackBoxText {
    width: 90%;
}

#selectedTracks, #selectedArtists {
    width: 100%;
}

#closeButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-weight: bold;
    font-size: 18px;
    color: red;
    cursor: pointer;
}

/* Artist and track container, contains an SVG for the 'Details' bars. */
#at-container {
    width: 100%;
    height: 204px;
}

.tabnav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tablink {
  flex: 1;
  font-size: .9em;
  margin-right: 4px;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #01B482;
  text-align: center;
  transition: color 0.3s;
  height: 15px;

}

.tablinkside {
}

.tablink a {
    font-size: 1em;
    letter-spacing: 1em;
}

.tablink: last-child {
  margin-right: 0;
}

.tablink: hover {
  color: #212938;

}

.tablink.is-active {
    color: #01B482;
    background-color: #252F41;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.c-tab {
    display: none;
}

.c-tab.is-active {
    display: block;
}

.tabcontent {
    color: #fff;
    padding-left: 0.1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabcontentinner {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    letter-spacing: 0.8px;
}

.tabcontentinnerdif {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    letter-spacing: 0.8px;
    background-color: #232f3f;
    height: 65%;
    overflow-y: auto;
}

.tabcontent h2 {
    font-family: "Avenir Next", sans-serif;
    line-height: 2em;
    height: 2em;
    border-left: 5px solid #01B482;
    font-size: 1.05em;
    letter-spacing: 0.86px;
    text-decoration: none;
    padding: 3px;
    text-indent:2%;
    font-weight: normal;
}

#selectedtab {
    margin-bottom: 5%;
}
.selectedtabwow {
    margin-bottom: 5%;
    text-decoration: none;
}

/* Tabs no-js fallback */
.c-tabs.no-js .tabnav{
    display: none;
}

.c-tabs.no-js .c-tab {
    display: block;
    margin-bottom: 1.5rem;
}

.c-tabs.no-js .c-tab: last-child {
    margin-bottom: 0;
}

#overflowss {
    height: calc(95vh - 60px - 15px - 50px);
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;   
}

#overflowing {
    height: calc(95vh - 75px - 15px);
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
}

.playlistbtn {
    position: fixed;
    background-color: #05AC81;
    width: 18%;
    height: 50px;
    z-index: 10;
    bottom:0;
    color: #fff;
    height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
    border-top: 1px solid #242A34;
    cursor: pointer;
}

.playlistbtn:hover {
    background-color:#212938;
    border-top: 1px solid #242A34;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.playlistbtn span {
    position: relative;
    top: calc(50% - 0.5em);
}

.playlistbtn2 {
    background-color: #05AC81;
    color: #fff;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.descript {
    margin: 20px;
    font-size: .9em;
}

/*----------- Other ---------*/

.spotbutton{ 
    color: #fff;
    background-color: #00B685;
    float: left;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* ------------- Main Body of the Tree Container ------------ */

#tree-container {
    position: fixed;
    margin-top: 0;
    width: 82%;
    height: calc(98vh - 60px);
    z-index: -111;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.textboxLabel {
    pointer-events: none;
}

.tSpanText {
    fill: "#ff004e";
}

.node {
    cursor: pointer;
}

.overlay {
}


.node circle, .node rect {
    box-shadow: 10px 10px 5px #888888;
}

.node text {
    font-size: 10px;
    font-family: "Avenir Next", sans-serif;
}

.link {
    fill: none;
    stroke: #979797;
    stroke-width: .8px;
}

.line {
    cursor: none;
    pointer-events: none;
}

/* ------------- Bottom Bar Sliders ------------ */

.range-slider {
    width: 150px;
    height: 2px !important;
}

.generate-range-slider {
    width: 100%;
    height: 5px !important; 
}

.range-slider .ui-slider-range, .generate-range-slider .ui-slider-range {
    height: 5px !important;  
    background: #4B9877;
}

.range-slider .ui-slider-handle.ui-corner-all.ui-state-default, .generate-range-slider .ui-slider-handle.ui-corner-all.ui-state-default {
    background: #282828;
    height: 10px !important;  
}

.range-slider2 .ui-slider-handle.ui-corner-all.ui-state-default {
    background: #282828; 
}

.range-slider-text {
    margin-top: 5px;
    padding: .5%;
    height: 20px;
    color: #cfcfcf;
}

.range-slider-text2 {
    margin-top: 5px;
    padding: .5%;
    height: 20px;
    color: #000;
}

li {
    overflow: auto;
}

/* --------- Select2 CSS for searching tracks and artists -------- */
.clearfix: before, .clearfix: after {
    content: " ";
    display: table;
}

.clearfix: after {
    clear: both;
}

.select2-result-repository {
    padding-top: 4px;
    padding-bottom: 3px;
}

.select2-result-repository__avatar {
    float: left;
    width: 40px;
    margin-right: 10px;
}

.select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.select2-result-repository__meta {
    margin-left: 15px;
}

.select2-result-repository__title {
    color: black; font-weight: bold;
    word-wrap: break-word;
    line-height: auto;
    margin-bottom: 4px;
}

.select2-result-repository__forks, .select2-result-repository__stargazers {
    margin-right: 1em;
}
.select2-result-repository__forks, .select2-result-repository__stargazers, .select2-result-repository__watchers {
    display: inline-block;
    color: #aaa;
    font-size: 11px;
}

.select2-result-repository__description {
    font-size: 13px;
    color: #777;
    margin-top: 4px;
}

.select2-results__option--highlighted .select2-result-repository__title {
    color: white;
}

.select2-results__option--highlighted .select2-result-repository__forks, .select2-results__option--highlighted .select2-result-repository__stargazers, .select2-results__option--highlighted .select2-result-repository__description, .select2-results__option--highlighted .select2-result-repository__watchers {
    color: #c6dcef;
}

.select2-container--adwitt .select2-results > .select2-results__options {
    max-height: 300px;
}
.select2-results__options {
    overflow-y: auto;
}