@font-face {
    font-family: Source Sans Pro;
    src: url(./assets/fonts/SourceSansPro-Regular.otf);
}
@font-face {
    font-family:Avenir Next;
    src: url(./assets/fonts/AvenirNext.ttc);
}

body {
    background-color:#273143;
     margin:0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    line-height: 1em;
}

p {
	color: #7B7B7B;
	font-size: 1.5em;
	line-height: 1.2em;
}

h1 {
    color:#fff;
}

/*----------- Other ---------*/

#div {
	width: 50%;
    margin-top: 5%;
	margin-bottom: 5%;
}
#thediv {
	width: 80%;
	margin: 0 auto;
}

#thediv a{ 
	margin-top: 30px;
    color: #fff;
    background-color:#00B685;
    padding: 20px 70px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    text-align: center;
}

.logo {
    width: 400px;
}

@media screen and (max-width: 700px) {
    body {
        font-size: .8em;
        text-align: left;
    }
    #thediv a {
        font-size: 10pt;
        padding: 20px 60px;
    }
    .logo {
        width:60%;
    }
}

ul {
    list-style-type: none;
}

#header {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 10px;
}

li {
    float:right;
    display:inline-block;
    padding-left: 2px;
    font-size: 1.3em;
    color:white;
}

#first {
   padding-right: 20px; 
}

#second {
   padding-right: 90px; 
}

li a{
    color:white;
    text-decoration: none;
    font-weight: normal;
    padding: 0px 10px;
}

li a:hover{
    color: #4B9877;
    transition-property: all;
    transition-duration: .5s;
}

@media screen and (max-width: 600px) {
     body{
        font-size:.6em;
        text-align: left;
    }
}